<!-- Sidebar header -->
<header class="sidebar-header">
  <a href="#" class="header-logo">
    <img src="../img/logo.png" alt="CodingNepal">
  </a>
  <button class="toggler sidebar-toggler">
    <span class="material-symbols-rounded">chevron_left</span>
  </button>
  <button class="toggler menu-toggler">
    <span class="material-symbols-rounded">menu</span>
  </button>
</header>
<nav class="sidebar-nav">
  <!-- Primary top nav -->
  <ul class="nav-list primary-nav">
    <li class="nav-item">
      <a href="#Rubros/Rubro" class="nav-link">
        <span class="nav-icon material-symbols-rounded">settings</span>
        <span class="nav-label">Rubros</span>
      </a>
      <span class="nav-tooltip">Rubros</span>
    </li>
    <!-- <li class="nav-item">
      <a href="#Alumnos/Alumno" class="nav-link">
        <span class="nav-icon material-symbols-rounded">group</span>
        <span class="nav-label">Alumnos</span>
      </a>
      <span class="nav-tooltip">Alumnos</span>
    </li>

    <li class="nav-item">
      <a href="#Docentes/Docente" class="nav-link">
        <span class="nav-icon material-symbols-rounded">group</span>
        <span class="nav-label">Docentes</span>
      </a>
      <span class="nav-tooltip">Docentes</span>
    </li>
    <li class="nav-item">
      <a href="#NotaAlumnos/NotaAlumno" class="nav-link">
        <span class="nav-icon material-symbols-rounded">account_circle</span>
        <span class="nav-label">Notas Alumnos</span>
      </a>
      <span class="nav-tooltip">Notas Alumnos</span>
    </li> -->
   <!-- <li class="nav-item">
          <a href="#Informes/InformeAlumnoPromedio" class="nav-link">
            <span class="nav-icon material-symbols-rounded">insert_chart</span>
            <span class="nav-label">Promedio Alumnos</span>
          </a>
          <span class="nav-tooltip">Promedio Alumnos</span>
        </li>
           <li class="nav-item">
          <a href="#Informes/InformeAsignaturaPromedio" class="nav-link">
            <span class="nav-icon material-symbols-rounded">insert_chart</span>
            <span class="nav-label">Promedio Asignaturas</span>
          </a>
          <span class="nav-tooltip">Promedio Asignaturas</span>
        </li> -->
         <!--<li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon material-symbols-rounded">star</span>
            <span class="nav-label">Bookmarks</span>
          </a>
          <span class="nav-tooltip">Bookmarks</span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon material-symbols-rounded">settings</span>
            <span class="nav-label">Settings</span>
          </a>
          <span class="nav-tooltip">Settings</span>
        </li> -->
  </ul>
  <!-- Secondary bottom nav -->
  <ul class="nav-list secondary-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon material-symbols-rounded">account_circle</span>
            <span class="nav-label" id="email-usuario">Perfil</span>
          </a>
          <span class="nav-tooltip">Profile</span>
        </li>
        <li class="nav-item">
          <a onclick="cerrarSesion()" style="cursor: pointer;" class="nav-link">
            <span class="nav-icon material-symbols-rounded">logout</span>
            <span class="nav-label">Cerrar Sesión</span>
          </a>
          <span class="nav-tooltip">Logout</span>
        </li>
      </ul>
</nav>